# Node modules
node_modules/

# Yarn 1 logs
.yarn-error.log

# Yarn 2+ cache (keep specific folders)
.yarn/*

# Env files
.env
.env.*
.env.local
.env.*.local

# Logs
logs
*.log

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
/src/generated/prisma

# Prisma
prisma/__generated__/

# Own requirements
todo.txt